.control-block {
  text-align: right;
}

.view{
  color: white;
  background-color: #9dc9f3;
}

.view:hover {
  cursor: pointer;
  background-color: #92bee7;
}

.postpone {
  color: white;
  background-color: #c8b4da;
}

.postpone:hover {
  cursor: pointer;
  background-color: #b39ec5;
}

.resume {
  color: white;
  background-color: #ae8fb1;
}

.resume:hover {
  cursor: pointer;
  background-color: #a283a5;
}

.delete {
  color: white;
  background-color: #424e74;
}

.delete:hover {
  cursor: pointer;
  background-color: #35405f;
}

.done {
  color: white;
  background-color: #889bd3;
}

.done:hover {
  cursor: pointer;
  background-color: #7d8ec2;
}